<div style = "width: 10%; float:left">{{cMenu_Ctrl.input.param }}  </div>

<ui-select ng-if="cMenu_Ctrl.input.type == 'column'" droppable ng-model="cMenu_Ctrl.dataSource" theme="select2" style= "width: 30%; float:left">
  		<ui-select-match allow-clear="true" placeholder="DataSource">{{$select.selected}}</ui-select-match>
	<ui-select-choices repeat="dSource in cMenu_Ctrl.WeaveService.dataSources | filter :$select.search">
			{{dSource}}
      	</ui-select-choices>
</ui-select>

<ui-select ng-if="cMenu_Ctrl.input.type == 'column'" droppable ng-model="cMenu_Ctrl.dataTable" theme="select2" style= "width: 30%; float:left">
  		<ui-select-match allow-clear="true" placeholder="Data Table">{{$select.selected.metadata.title}}</ui-select-match>
	<ui-select-choices repeat="column in scriptCtrl.queryService.cache.columns | filter : $select.slected.metadata.title">
     			 <div ng-bind-html="column.metadata.title | highlight: $select.search"></div>
      	</ui-select-choices>
</ui-select>

<ui-select ng-if="cMenu_Ctrl.input.type == 'column'" droppable ng-model="scriptCtrl.queryService.queryObject.scriptOptions[input.param]" theme="select2" style= "width: 30%; float:left">
  		<ui-select-match allow-clear="true" placeholder="Select column...">{{$select.selected.metadata.title}}</ui-select-match>
	<ui-select-choices repeat="column in scriptCtrl.queryService.cache.columns | filter : $select.slected.metadata.title">
     			 <div ng-bind-html="column.metadata.title | highlight: $select.search"></div>
      	</ui-select-choices>
</ui-select>
