<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="weaveApp">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>WeaveApp</title>
		<link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="../../../bower_components/angular-ui-select/dist/select.css" rel="stylesheet" />
		<link href="../../../lib/ui-select2/select2.css"  rel="stylesheet"/>
		<link href="../../../css/font-awesome.css" rel="stylesheet">
		<link href="../../../css/weaveApp.css" rel="stylesheet">
	</head>


<body>

<!--Contains the widgets and weave  -->
		<div id= "parentDiv" ng-controller = "appController as appCtrl">
		
		<!-- Viz tool widgets -->
			<div id= "widgetContainer">
				<div ng-click = "appCtrl.showToolList = true" style = "padding-left:10px">Tools</div>
				<div ng-show = 'appCtrl.showToolList' class="optionList" style="width: 90%;">
					<ul id = "myList" ng-repeat="tool in appCtrl.vizToolOptions">
       					 <li id = "myListOption" ng-click = "appCtrl.addTool2Menu(tool)">+ {{tool}}</li>
   					 </ul>
				</div>
				
				<accordion close-others="oneAtATime">
   					 <accordion-group ng-repeat="sp in appCtrl.scatterplots">
   					  <accordion-heading>{{sp.toolName||'ScatterPlotTool'}} 
   					  	<span style = "padding-left: 50px" class="fa fa-times-circle" ng-click = "appCtrl.removeToolFromMenu(sp)"></span></accordion-heading>
     					 <scatter-Plot></scatter-Plot>
    				 </accordion-group>
    				 
   			
 				 </accordion>
			</div>
			
		<!-- WEAVE -->
			<div id="flashContent"></div>
		</div>
		<!--Angular  -->
		<script type="text/javascript" src="../../../bower_components/angular/angular.min.js"></script>
		<script src="../../../bower_components/jquery/dist/jquery.min.js"></script>
		
  		
  		<!-- Bootstrap -->
		<script src= "../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<!-- Angular sanitize -->
		<script src="../../../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<!-- Angular animate -->
		<script src="../../../bower_components/angular-animate/angular-animate.min.js"></script>
		<!-- UI select-->
       <script src= "../../../bower_components/angular-ui-select/dist/select.min.js"></script>
		<script type = "text/javascript" src="WeaveWrapper.js"></script>		
		<script type="text/javascript" src="/swfobject.js"></script>
				
		<script type="text/javascript">
        		var loadFlashContent = function() {
        			var swfVersionStr = "10.2.0";
		            // To use express install, set to playerProductInstall.swf, otherwise the empty string. 
		            var xiSwfUrlStr = "playerProductInstall.swf";
		            var flashvars = {};
		            var params = {};
		            params.quality = "high";
		            params.bgcolor = "#869ca7";
		            params.allowscriptaccess = "sameDomain";
		            params.allowfullscreen = "true";
		            params.base = window.location.protocol+"//"+window.location.host;
		            var attributes = {};
		            attributes.id = "weave";
		            attributes.name = "weave";
		            attributes.align = "middle";
		            swfobject.embedSWF(
		                "/weave.swf", "flashContent", 
		                "80%", "100%", 
		                swfVersionStr, xiSwfUrlStr, 
		                flashvars, params, attributes);
		            // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
		            swfobject.createCSS("#flashContent", "display:block;text-align:left;");
        		};
	            $('#flashContent').ready(function() {
	            	setTimeout(loadFlashContent, 100);
	            });
        </script>
		
		<script type = "text/javascript" src= "weaveapp.js"></script>
		<script type= "text/javascript" src="tools/scatterPlot/scatter_plot_directive.js"></script>
</body>
</html>