
	<tr>

		<td>
		Color Group
		</td>	
		<td>
			<ui-select ng-model="tool.color.group" theme="select2" tagging style="width: 160px;" ng-change = "setColorGroup()" ng-click="getColorGroups()">
									    		<ui-select-match placeholder="Select column...">{{$select.selected}}</ui-select-match>
												<ui-select-choices repeat="choice in colorGroups | filter : $select.search">
													{{choice}}
									        	</ui-select-choices>
			</ui-select>
			
		</td>	
		
		</tr>		
		
		<tr>
			<td>
			Color 
			</td>	
			<td>
				<ui-select  droppable ng-model="tool.color.column" theme="select2" style="width: 100%;" ng-change = "setColorGroup()" ng-click = fetchColumnProvider()>
					    	<ui-select-match  placeholder="Choose Column...">{{$select.selected.metadata.title}}</ui-select-match>
								<ui-select-choices repeat="column in queryService.cache.columns | filter : { metadata : { title : $select.search }}">
						       		 <div ng-bind-html="column.metadata.title | highlight: $select.search"></div>
						        </ui-select-choices>
				</ui-select>
				
			</td>
	</tr>