<ul>
	<table>
			<tr>	
					<td><input   type="checkbox" ng-model="spCtrl.config.checked" ng-change= "spCtrl.request_scatterPlot()"/></td>
					
					<td style="padding-left: 5px;">Enable</td>
			</tr>
			<tr>
					<td>Title:</td>
					<td style="padding-left: 5px;">
						<input  style = "width : 100%" type="text" placeholder="Default">
					</td>
			</tr>
			
			<tr>
				<td>X :</td>
			
				<td style="padding-left: 5px;">
					<ui-select ng-model="spCtrl.config.X" theme="select2" style="width: 100%;">
			    		<ui-select-match allow-clear="true" placeholder="Select Column">{{$select.selected}}</ui-select-match>
						<ui-select-choices repeat="item in spCtrl.items | filter : $select.search">
			       			 {{item}}
			        	</ui-select-choices>
					</ui-select>
				</td>
			</tr>
		
		<tr>
			<td>Y :</td>
			
			<td style="padding-left: 5px;">
					<ui-select ng-model="spCtrl.config.Y" theme="select2" style="width: 100%;">
			    		<ui-select-match allow-clear="true" placeholder="Select Script...">{{$select.selected}}</ui-select-match>
						<ui-select-choices repeat="item in spCtrl.items | filter : $select.search">
			       			 {{item}}
			        	</ui-select-choices>
					</ui-select>
			</td>
		</tr>
	</table>
</ul>
