<div class= "buttonBar">
<div class = "btn-group" role="group" style="width: 100%; height: 100%">
			
	<!-- export -->		
	<button class='btn btn-default wa_buttonBar' popover="Export query object" popover-trigger="mouseenter"  popover-placement="bottom">
		<span class = "fa fa-download" ng-click = "qo_btnsCtrl.export_Query()"></span>
	</button>
	
	<!-- import -->
	<label class='btn btn-default wa_buttonBar' popover="Import query object" popover-trigger="mouseenter"  popover-placement="bottom">
		<span class = "fa fa-upload" ></span>
		<input fileread="qo_btnsCtrl.queryObjectUploaded.file" class='file-upload' type='file'/>
	</label>
	
	<!-- SHOW?HIDE QUERY OBJECT EDITOR button -->
	<button class="btn btn-default wa_buttonBar" popover="Show/Hide query object editor" popover-trigger="mouseenter"  popover-placement="bottom" 
			ng-click = "qo_btnsCtrl.queryService.queryObject.properties.hideQueryObjectPanel = !qo_btnsCtrl.queryService.queryObject.properties.hideQueryObjectPanel"
			ng-init="qo_btnsCtrl.queryService.queryObject.properties.hideQueryObjectPanel = true">
		<span class = "fa fa-pencil-square-o"></span>
	</button>
	
	
	<!-- CLEAR button -->
	 
	<!-- <button class="btn btn-default wa_buttonBar" title = "Clear Query Object" ng-click = "cleanQueryObject()"> <span class = "fa fa-refresh"></span></button> -->

	<!-- SAVE output visuals button -->	 
	<button class="btn btn-default wa_buttonBar" popover="Save visualizations" popover-trigger="mouseenter"  popover-placement="bottom" 
			ng-click="qo_btnsCtrl.save_Visualizations()"> 
		<span  class = "fa fa-floppy-o"></span> 
	</button>
	
	<!-- Weave launcher--->
	<button class="btn btn-default wa_buttonBar" popover="Launch Weave" popover-trigger="mouseenter"  popover-placement="bottom"
			ng-click = "qo_btnsCtrl.launch_Weave()">
			<span class="fa fa-line-chart"></span>
	</button>

	<!-- Run Update button -->		
	<button  class="btn btn-primary wa_buttonBar" popover="Update Query" popover-trigger="mouseenter"  popover-placement="bottom"
		ng-click="qo_btnsCtrl.run_update()" 
		popover="{{qo_btnsCtrl.queryService.queryObject.properties.validationStatus}}" popover-trigger="mouseenter"  popover-placement="bottom"
		ng-Disabled = "!qo_btnsCtrl.queryService.queryObject.properties.isQueryValid">
		 <span class = "fa fa fa-refresh fa-lg"></span>
	 </button>
	 
	<!-- RUN button -->		
	<button  class="btn btn-primary wa_buttonBar" popover="Run query" popover-trigger="mouseenter"  popover-placement="bottom"
		ng-click="qo_btnsCtrl.run()" 
		popover="{{qo_btnsCtrl.queryService.queryObject.properties.validationStatus}}" popover-trigger="mouseenter"  popover-placement="bottom"
		ng-Disabled = "!qo_btnsCtrl.queryService.queryObject.properties.isQueryValid">
		 <span class = "fa fa-play-circle fa-lg"></span>
	</button>
 
	<br>
	<!-- query status -->
	<div style = "float:left; margin-left : 8px; width: 50%" 
		ng-class="{'queryDone' : qo_btnsCtrl.queryService.queryObject.properties.queryDone === true, 
				   'queryUndone' : qo_btnsCtrl.queryService.queryObject.properties.queryDone === false, 
				   'queryDoneInit' : qo_btnsCtrl.queryService.queryObject.properties.queryDone === undefined}" >
		<i ng-if = "qo_btnsCtrl.queryService.queryObject.properties.queryDone" class="fa fa-check-circle fa-lg" title= "A green signal indiactes the query has been executed successfully"></i>
		<i ng-if = "!qo_btnsCtrl.queryService.queryObject.properties.queryDone && qo_btnsCtrl.queryService.queryObject.properties.queryDone !== undefined" class="fa fa-exclamation-triangle fa-lg"></i>
		<font size = "2" color= "white">{{qo_btnsCtrl.queryService.queryObject.properties.queryStatus}}</font>
	</div>
</div>
</div>