<!--Calculations -->
<div class="databox" style="width: 80%">
	
	<div class="header panel-heading">
		<h2>Calculations</h2>
	</div>
	
	<div class="body">
		<div style = "width:85%; height: 100%; float:left;">
			<div class="btn-group">
     					<label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'R'" uncheckable>R</label>
     					<label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'STATA'" uncheckable>Stata</label>
<!--        					    <label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'PYTHON'" uncheckable>Python</label> -->
			</div>
			<br/>
			<!-- Script Select-->		
			<div style = "width: 75%; margin-top: 5px">
										<div style = "width: 90%; float: left" ng-class="{'unvalidatedUI' : !scriptCtrl.queryService.queryObject.scriptSelected, 'validatedUI' : scriptCtrl.queryService.queryObject.scriptSelected}"
											title = "Red flags indicate required selections for query validation">
											
												<ui-select ng-model="scriptCtrl.queryService.queryObject.scriptSelected" ng-change="clearScriptOptions()" theme="select2" style="width: 97%;">
										    		<ui-select-match allow-clear="true" placeholder="Select Script...">{{$select.selected}}</ui-select-match>
													<ui-select-choices repeat="script in scriptCtrl.analysisService.cache.scriptList | filter : $select.search">
						<!-- 							       			 <div ng-bind-html="script | highlight: $select.search"></div> -->
										       			 {{script}}
										        	</ui-select-choices>
												</ui-select>
										</div>
<!-- 										<button style = "float:left; margin-left: 10px" ><i class="fa fa-info-circle fa-lg"  -->
<!-- 										popover = "1.This selects a script (computation) to be executed on the data. &#10;2.This must be followed by selection of script input parameters." ></i></button> -->
			</div><!-- script select ends -->
		
			<br><br>
			<!-- Script options -->	
			<div class="tool-bar">
						
				<div ng-repeat="input in scriptCtrl.analysisService.cache.scriptMetadata.inputs">
					<column-Menu> </column-Menu>
				</div>

			</div><!-- sCRIPT OPTIONS END -->
	</div>
	
		<div style = "width:45%;height: 100%; float:left;">
			<!-- REMAPPING -->
			
			<div style="height : 30px; margin-top:30px">
				{{ description }}
			</div>
			
		  	<div  style="overflow: auto; height:170px; margin-top:15px">
		  			
			      <table border="border: 1px solid #0000FF"  ng-show="varValues.length">
						<tr> 
							<td  align="center">
								Value
							</td>
							<td  align="center">
								Label
							</td>
							<td   align="center">
								New Value
							</td>
						 </tr>
						<tr ng-repeat="varValue in varValues">
							<td width= "10%" style="padding-left: 5px; padding-right: 5px"> {{varValue.value}} </td> 
							<td width= "40%" style="padding-left: 5px" > {{varValue.label}} </td>
							<td width= "50%"> <input style ="width : 100%"
												ng-model="values[$index]"
												ng-change="setValue(varValue.value, values[$index])"> 
												</input> </td>
						</tr>
					</table>
		  	</div>
		
		</div>	
			
			
		</div><!-- end of scripts control -->
</div> <!-- end of calculations control -->