<!--Calculations -->
<div class="databox" style="width: 80%">
	
	<div class="header panel-heading">
		<h2>Calculations</h2>
	</div>
	
	<div class="body">
		<div style = "width:85%; height: 100%; float:left;">
			<div class="btn-group">
     					<label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'R'" uncheckable>R</label>
     					<label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'STATA'" uncheckable>Stata</label>
<!--        					    <label class="btn btn-primary btn-sm" ng-model="scriptCtrl.queryService.queryObject.ComputationEngine" btn-radio="'PYTHON'" uncheckable>Python</label> -->
			</div>
			
			<br/>
			<!-- Script Select-->		
			<div style = "width: 75%; margin-top: 5px">
				<div style = "width: 90%; float: left" ng-class="{'unvalidatedUI' : !scriptCtrl.queryService.queryObject.scriptSelected, 'validatedUI' : scriptCtrl.queryService.queryObject.scriptSelected}"
					title = "Red flags indicate required selections for query validation">
					
						<ui-select ng-model="scriptCtrl.queryService.queryObject.scriptSelected" ng-change="clearScriptOptions()" theme="select2" style="width: 97%;">
				    		<ui-select-match allow-clear="true" placeholder="Select Script...">{{$select.selected}}</ui-select-match>
							<ui-select-choices repeat="script in scriptCtrl.analysisService.cache.scriptList | filter : $select.search">
				       			 {{script}}
				        	</ui-select-choices>
						</ui-select>
				</div>
<!-- 										<button style = "float:left; margin-left: 10px" ><i class="fa fa-info-circle fa-lg"  -->
<!-- 										popover = "1.This selects a script (computation) to be executed on the data. &#10;2.This must be followed by selection of script input parameters." ></i></button> -->
			</div><!-- script select ends -->
		
			<br><br>
			<!-- Script options -->	
			<div class="tool-bar">
						
				<div ng-repeat="input in scriptCtrl.analysisService.cache.scriptMetadata.inputs">
					<column-Menu input = "input"
								 datatable = {{scriptCtrl.dataTable}}
								 datasourceName = {{scriptCtrl.dataSourceName}}> </column-Menu>
				</div>

			</div><!-- SCRIPT OPTIONS END -->
	</div>
<!-- TODO enable remapping -->			

	</div><!-- end of body -->
</div>