/* contains the styles for the data_stats module*/

.parent_stats_div{
	 width: 100%;
	 height: 100%;
	 margin-left:10px;
}

#sparklineContainer{
	width:100%; 
	height:93%; 
	overflow-y: scroll; 
	background-color:white;
	opacity:0.5; 
	border : 1px solid #999191"
}

#one_sparklineDiv{
	 width: 100%; height:100% 
}


.sparkLinesColumn{
	width :70px;
	height:50%;
	 float:left;"
}

.sparklinesHeading{
	width:100%;
	height: 7% ;
	text-align :center;
	background-color:#eaeaea;
	border : 1px solid #d4d4d4
}
.stats_grid{
	width: 60%;
	height: 50%;
	float:left;
	oveflow:auto
}
.coeff_list{
	float: left;
	padding-left:10px; 
	padding-right: 20px
}

#corrMatrixContainer{
	width: 100%;
	height: 100%;
	float:left;
}