/*this style sheet contains styles for the weaveApp visualization window
@ author spurushe
*/
html{
	height : 100%;
}
body{
	background: url(img/furley_bg.png);
	min-height: 100%;
	height: 100%
}

#parentDiv{
	width:100%;
	height:100%;
}


/* contains the widgets used to configure weave*/
#widgetContainer{
	width:20%;
	height:100%;
	float:left;
}

/* contains weave*/
#flashContent{
	width: 70%;
	height: 100%;
	float:left;
}
